.card {
  display: flex;
  flex-direction: column;
  width: calc(320px - 1rem);
  border: 1px solid black;
  text-align: center;
  padding: 1rem;
  text-transform: capitalize;
  position: relative;
}
.card .favorite-btn {
  all: unset;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  cursor: pointer;
}
.card .types {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.card .types span {
  padding: 5px 10px;
  color: white;
  border-radius: 5px;
}