main {
    padding: 1rem 0;
}
.pokemons-ctnr {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 1rem 0;
}

.pagination-ctnr {
    display: flex;
    justify-content: center;
    gap: 1rem;
}
