nav {
    padding: 1rem;
    background-color: #F2F2F2;
    
    ul {
        display: flex;
        gap: 2rem;
        list-style: none;
        
        li a {
            text-decoration: none;
            color: black;
        }
    }
}
